<!-- Footer -->
<footer class="footer-chulapa text-left mt-0 pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>
                    <strong>Contatti</strong>
                </p>
                    <p>Dipartimento di Informatica<br>
                Università di Pisa<br>
                Largo B. Pontecorvo&nbsp;3,&nbsp;&nbsp;Pisa</p>
                <p><a href="mailto:masterbigdata@unipi.it">masterbigdata@unipi.it</a></p>
                <p>Sito creato e gestito da <a href="https://kdd.isti.cnr.it/people/romano-vittorio" target="_blank">Vittorio Romano</a> e <a href="https://kdd.isti.cnr.it/people/fadda-daniele" target="_blank">Daniele Fadda</a></p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-4">
                <p>
                    <strong>Organizzazione</strong>
                </p>
                <p>Il Master in Big Data è un'iniziativa<br> dell'infrastruttura di ricerca europea<br><strong><a href="https://www.sobigdata.eu/">SoBigData</a> </strong>ed<strong>&nbsp;</strong>è organizzato in collaborazione<br>
con <a href="http://masterbigdata.it/it/partners"><strong>questi partner aziendali e accademici</strong></a></p>
            </div>
            <div class="col-md-4">
                <div class="mb-2">
                    <img style="margin-left: 0; margin-right:0;"
                         src="{{site.baseurl}}/assets/images/Logo_SoBigData MASTER.png"
                         alt="SoBigData RI Logo">
                </div>
                {%- if site.footer.links -%}
                <hr>
                <div role="navigation"
                     class="d-flex flex-wrap justify-content-left">
                    {%- for social in site.footer.links -%}
                    {%- assign urlslice = social.url | slice: 0,4 -%}
                    {%- if urlslice == "http" -%}
                    <a href="{{ social.url | absolute_url }}"
                       title="footer{{ social.label }}"
                       class="chulapa-footer-sociallink lead"
                       target="_blank">
                        {%- elsif social.url contains "@" -%}
                        <a href="mailto:{{- social.url -}}?subject={{ site.title | append: ' web contact' | strip_html | uri_escape }}"
                           title="footer{{ social.label }}"
                           class="chulapa-footer-sociallink lead" target="_blank">
                            {%- else -%}
                            <a href="{{ social.url | absolute_url }}"
                               title="footer{{ social.label }}"
                               class="chulapa-footer-sociallink lead" target="_blank">
                                {%- endif -%}
                                <span class="fa-stack fa-lg"
                                      aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="{{ social.icon }} fa-stack-1x fa-inverse"></i>
              </span><span class="sr-only">{{ social.label }}</span>
                            </a>
                            {%- endfor -%}
                </div>
                {%- endif -%}
                <hr>
                <p class="mt-2 mb-3">
                    {%- if site.footer.copyright -%}

                    {{ site.footer.copyright }}

                    {%- endif -%}
                </p>
                <p>
                    <!-- Do not remove this in order to give  attributions -->
                    Website powered by <a href="https://jekyllrb.com/"
                                          target="_blank">Jekyll</a>
                    <!-- End  attributions -->
                </p>

            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
